InlayHints:
  BlockEnd: true
  DefaultArguments: true
Style: { AngledHeaders: ['^(fosu|tests)/'] }
Diagnostics: { MissingIncludes: Strict }

---
If:
  PathMatch: src/fosu/engine/.*\.h
CompileFlags:
  Remove: -DFOSU_DISABLE_SIMD
